* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.center{
    padding-left: calc(50% - 639px);
    padding-right: calc(50% - 639px);
}
.zag_mobil{
  display: none;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}
h4{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
p{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.zag{
  padding-top: 45px;
  padding-bottom: 45px;
}
.steps{
  padding-bottom: 45px;
}
.step1{
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.step2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  gap: 12px;
}
.butt{
padding-bottom: 45px;
}
.myotziv{
  padding-bottom: 45px;
}
.step2__text{
  width: 650px;
}
